# Build output
out/
*.o
*.a
*.pyc
__pycache__/

# autoreconf -i output (regenerated locally; not committed)
/c/configure
/c/aclocal.m4
/c/autom4te.cache/
/c/Makefile.in
/c/config.h.in
/c/build-aux/
/c/m4/

# Python
/python/build/
/python/dist/
/python/*.egg-info/
/python/supervise_api/_bin/

build/
